.container {
	background-color: #131313;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5em 0;
}

.title {
	font-size: 3.25rem;
	color: white;
}

.profiles {
	display: flex;
	margin-top: 2em;
}

.profile {
	margin: 0 1em;
	cursor: pointer;
}

.profile:hover .profile-name {
	color: #dfdfdf;
}

.profile:hover > .profile-image > img {
	outline: 3px white solid;
	outline-offset: -3px;
}

.profile-image > img {
	width: 150px;
	height: 150px;
	border-radius: 4px;
}

.profile-name {
	padding-top: 0.5em;
	text-align: center;
	color: #808080;
	font-size: 1.25rem;
}

.add-button > .profile-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 4px;
}

.add-button:hover > .profile-image {
	background-color: #dfdfdf;
}

.add-button > .profile-image > i {
	font-size: 4rem;
	color: grey;
}

.button {
	padding: 0.6em 1.5em;
	margin-top: 5em;
	color: #808080;
	border: 1px #808080 solid;
	cursor: pointer;
	letter-spacing: 2px;
}

.button:hover {
	border: 1px #dfdfdf solid;
	color: #dfdfdf;
}
